<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Verbo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3BF9744F1C2BBE0800C3B279</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BF974631C2BBE0800C3B279</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BF9746E1C2BBE0800C3B279</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
